
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vitrin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="site-wrap">
        @Html.Action("AboutHead")
        @Html.Action("Explore")
        @Html.Action("Team")
        @Html.Action("LearnUs")
    </div>
</body>
</html>

