<div class="col-md-5">

    <div class="p-4 mb-3 bg-white">
        <p class="mb-0 font-weight-bold">Address</p>
        <p class="mb-4">İstanbul , TR</p>

        <p class="mb-0 font-weight-bold">Phone</p>
        <p class="mb-4"><a href="#">+90 (536) 321 7219</a></p>

        <p class="mb-0 font-weight-bold">Email Address</p>
        <p class="mb-0"><a href="#">erkanbstn27@gmail.com</a></p>

    </div>

</div>
