@using Varliklar.Somut
@model List<Comment>
@{
    ViewBag.Title = "BlogComments";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

<div class="invoice overflow-auto">
    <div style="min-width: 600px">
        @Html.Action("CommentBlogHead")
        @Html.Action("CommentBlogTable")
        <footer>You Can See All Comments To This Window.</footer>
    </div>
</div>
